@import './../abstract/variables';

.slider {
    text-align: $positionCenter;
    max-width: 960px;
    margin: 0 auto;

    &__input {
        display: none;
    }
}

.slides {
  
    &__image-content {
        width: 100%;
    }

    &__image {
        width: 400%;
        line-height: 0;
        transition: all .4s cubic-bezier(.35,.68,.42,.73);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    &__overflow {
        border-radius: 8%;
        width: 100%;
        overflow: hidden;
    }

    .input-1:checked~& &__image {
        margin-left: 0;
    }

    .input-2:checked~& &__image {
        margin-left: -100%;
    }

    .input-3:checked~& &__image {
        margin-left: -200%;
    }

    .input-4:checked~& &__image {
        margin-left: -300%;
    }
}

.descriptions {
    display: flex;
    justify-content: space-between;
    align-items: $positionCenter;
    width: 100%;
    overflow: hidden;
    margin-top: 15px;

    @media(max-width:576px) {
        flex-direction: column-reverse;
    }

    &__overflow {
        width: 60%;
        overflow: hidden;

        @media(max-width:576px) {
            width: 100%;
        }
    }

    &__container {
        transition: all .35s cubic-bezier(.35,.68,.42,.73);
        width: 400%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .input-1:checked~& &__container {
        margin-left: 0;
    }

    .input-2:checked~& &__container {
        margin-left: -100%;
    }

    .input-3:checked~& &__container {
        margin-left: -200%;
    }

    .input-4:checked~& &__container {
        margin-left: -300%;
    }

    &__info {
        width: 100%;
    }

    &__text {
        width: 100%;
        text-align: left;
        font-size: 20px;
        font-weight: 500;
        animation-name: color-change;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

@keyframes color-change {
    0% {
      color: rgb(206, 132, 144);
    }
  
    50% {
      color: aqua;
    }
  
    100% {
      color: rgb(206, 132, 144);
    }
  }
  
.active {
    text-align: right;
    display: flex;

    &__label {
        border-radius: 10px;
        display: inline-block;
        width: 50%;
        height: 50%;
        border: 2px solid aqua;
        background: aqua;
        transition: all .3s ease-in-out;
        cursor: pointer;
    }

    &__wrapper {
        display: flex;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @media(max-width:576px) {
            margin-bottom: 20px;
        }
    }

    &__wrapper:hover &__label {
        background-color: white;
        border-color: white;
        transition: all .3s ease-in-out;
    }

    .input-1:checked~.descriptions & &__wrapper:nth-child(1) &__label,
    .input-2:checked~.descriptions & &__wrapper:nth-child(2) &__label,
    .input-3:checked~.descriptions & &__wrapper:nth-child(3) &__label,
    .input-4:checked~.descriptions & &__wrapper:nth-child(4) &__label {
        background-color: transparent;
        border-color: aqua;
    }
    .input-1:checked~.descriptions & &__wrapper:nth-child(1):hover &__label,
    .input-2:checked~.descriptions & &__wrapper:nth-child(2):hover &__label,
    .input-3:checked~.descriptions & &__wrapper:nth-child(3):hover &__label,
    .input-4:checked~.descriptions & &__wrapper:nth-child(4):hover &__label{
        background-color: transparent;
        border-color: white;
    }
}

.icon {
    width: 100%;
}